body{
 font-family: Arial, Helvetica, sans-serif;
 display: grid;
 grid-template-columns: 20% auto 20%;
 grid-template-rows: auto auto auto auto;
}
.site-header {
  background: rgba( 255, 0, 0, 0.15 );
  grid-column: 1/4;
  margin-bottom: 10px;
  padding: 12px;
  grid-row: 1/2;
}
.site-nav{
  background: rgba( 0, 255, 0, 0.15 );
  grid-column: 1/4;
  margin-bottom: 10px;
  grid-row: 2/3;
}
ul{
  margin: 0;
  padding: 0;
  display: flex;
}
li{
  padding: 10px;
  border: 2px dashed rgba(0, 0, 0,0.25);
  display: inline-flex;
  flex-grow: 1;
}
.site-main {
  background: #ffc;
  grid-column: 2/3;
  grid-row: 3/4;
}
.hentry {
  border: 2px dashed black;
  margin: 0rem;
  padding: 1rem;
}
footer {
 background: rgba( 0, 0, 255, 0.15 ); 
 padding: 12px;
 grid-column: 1/4;
 grid-row: 4/5;
}
.hola{
  display: flex;
  padding-bottom: 30px;
}
.uno{
  background: #ffc;
  grid-column: 1/2;
  grid-row: 3/4;
}
.dos{
  background: #ffc;
  grid-column: 3/4;
  grid-row: 3/4;
}